*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

 }

 #title{

	font-family: Montserrat;
	font-weight: 700;
	font-size: 68px;
	line-height: 84px;
	letter-spacing: 0px;
	text-align: center;
	vertical-align: middle;
	color: whitesmoke;
}

#hero{
	background: 
	linear-gradient(

		rgba(0, 34, 65, 0.61),
		rgba(0, 34, 65, 0.61)
	),

	url("./capBg.webp");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	;


}

 .fulLScreen{
	height: 92vh;
} 

 
@media(max-width:992px){
	.fulLScreen{
		height: auto;
	}
}

@media(max-width:576px){
	.fulLScreen{
		height: auto;
		min-height: auto;
	}
} 

.gMapReposive{

}
  .marquee-wrapper {
    overflow: hidden;
    background-color: orangered;
    position: relative;
    height: 63px;
    margin-top:auto;

  }

  .marquee-track {
    display: flex;
    width: max-content;
    animation: scrollMarquee 20s linear infinite;
  }

  @keyframes scrollMarquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .marquee-text {
    display: flex;
    white-space: nowrap;
    padding: 1rem 0;
  }

  .marquee-item {
    display: flex;
    align-items: center;
    margin-right: 3rem;
    color: white;
    font-weight: 600;
  }

#carousel{
	background: black;
}


 .carousel-caption.custom-caption {
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  padding: 1rem 1.5rem;
  border-radius: 10px;
  backdrop-filter: blur(4px);
}

.carousel img {
  height: 600px;
  object-fit: cover;
  border-radius: 0 !important;
}

.carousel-inner {
   border-radius: 0 !important;

}

.carousel-indicators [data-bs-target] {
  background-color: #fff;
}
